<!DOCTYPE html>
<html lang='en'>



<div>
    <h1 class="jumbotron">Movies to See:</h1>
      
</div>
      
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.title %></td>
        <td><%= member.release %></td>
        <td><%= link_to 'View', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Add New Movie', new_member_path %>
</html>
