<!DOCTYPE html>
<html lang='en'>
  
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @member.title %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @member.release %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>

</html>