<p id="notice"><%= notice %></p>

<p>
  <h1><%= @member.title %></h1>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @member.release %>
</p>

<p>
  <strong>Description:</strong>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>

</html>